<!--Proyectos-->
<section class="proyectos" id="proyectos">
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2><b><i>Proyectos</i></b></h2>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-dark boton" routerLink="/nuevoproy" *ngIf="isLogged">Nuevo Proyecto
    </button>
    <div class="container">
        <div class="row proyect">
            <div class="proy" *ngFor="let Proyecto of proyecto">
                <div class="card mb-3">
                    <img src={{Proyecto.imgP}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title"><a [href]=Proyecto.linkP target="_blank"> {{Proyecto.nombreP}} </a></p>
                        <p class="card-text"> {{Proyecto.descripcionP}}</p>
                        <p class="card-text"> {{Proyecto.fechaP }}</p>
                        <div class="edicion">
                            <div *ngIf="isLogged" class="update">
                                <button class="btn btn-dark " routerLink="/editproy/{{Proyecto.id}}">
                                    <i class="bi bi-pen-fill"></i>
                                </button>
                            </div>
                            <div *ngIf="isLogged" class="delete">
                                <button class="btn btn-dark" (click)="delete(Proyecto.id)">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>