<!--Proyectos-->
<section>
     <div class="container proyectos">
         <div class="container text-center">
             <h2 class="gflour py-5"><b><i>PROYECTOS</i></b></h2>
             <div class="row">   
                 <div class="slider-contenedor "> 
                     <ul>
                         <li>
                             <img src="../../../assets/imagen/carrusel/cerrajeriaR.png" alt="">
                                 <p><h5>
                                         <a href="http://crosario.260mb.org/?i=1" target="_blank" class="fucsia">Cerrajería Rosario</a>
                                     </h5>
                                     <h6>Lista de Productos - 2022
                                     </h6>
                         </li>
                         <li>
                             <img src="../../../assets/imagen/carrusel/receta.png" alt="">
                                 <p><h5>
                                         <a href="http://pruebas.260mb.org/?i=1" target="_blank" class="fucsia">Recetario</a>
                                     </h5>
                                     <h6>Buscador recetas - 2022
                                     </h6> 
                         </li>
                         <li>
                             <img src="../../../assets/imagen/carrusel/dados.PNG" alt="">  
                                 <p><h5> 
                                         <a href="http://dados.260mb.org/" target="_blank" class="fucsia">Dado</a>
                                     </h5>
                                     <h6>Dado - 2022
                                     </h6>
                         </li>
                         <li>
                             <img src="../../../assets/imagen/carrusel/portfolio.PNG" alt="">
                                 <p><h5> 
                                         <a href="#"class="fucsia">Mi Portafolio</a>
                                     </h5>
                                     <h6>Portafolio Web - 2022
                                     </h6>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </section>
