section{
    background-color: #b67892;
}
h2{
    color: black;
    text-decoration: none;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
.edu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.textedu{
    justify-content: flex-start;
    width: 380px;
}
.peduc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#imagen{
    height: 200px;
    width: 300px;
    padding: 15px;
}

.boton{
    margin-left: 100px;
	width: 85%;
    height: 40px;
    font-size: medium;
    text-align: center;
    background-color:#212529;
    display: block;
	position: relative;
}

.btn{
    display: block;
	position: relative;
}

.edicion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.delete{
    margin-top: 10px;
}

@media screen and (min-width : 320px ) and (max-width : 344px){
    button.btn.btn-dark.boton{
		margin-left: 40px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
    .row.edu{
        width: 320px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #boximagen{
        width: 300px;
        margin-top: 0px; 
    }
    img#imagen{
        padding-left: 0px;
        margin-top: 0px;
    }
    .col-1.edicion{
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    .update{
        margin-top: -20px;
        margin-left: -90px;
    }
    .delete{
        margin-top: -40px;
        margin-left: 30px;
    }
}

@media screen and (min-width : 345px ) and (max-width : 500px){
    button.btn.btn-dark.boton{
		margin-left: 40px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .row.edu{
        width: 320px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #boximagen{
        width: 300px;
        margin-top: 0px; 
    }
    img#imagen{
        padding-left: 0px;
        margin-top: 0px;
    }
    .col-1.edicion{
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    .update{
        margin-top: -20px;
        margin-left: -90px;
    }
    .delete{
        margin-top: -40px;
        margin-left: 30px;
    }
}

@media screen and (min-width : 501px ) and (max-width : 767px){
	button.btn.btn-dark.boton{
		margin-left: 40px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
    .col-1.edicion{
        flex-direction: row;
        justify-content: center;
        margin-top: -300px;
        margin-left: 200px;
    }
    #boximagen{
        width: 300px;
        margin-top: -260px;
        margin-left: 390px; 
    }
    img#imagen{
        padding-left: 0px;
        margin-top: 0px;
    }
    .edu{
        width: 150px;
    }
}

@media screen and (min-width : 768px ) and (max-width : 991px){
	button.btn.btn-dark.boton{
		margin-left: 40px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
    .col-1.edicion{
        flex-direction: row;
        justify-content: center;
        margin-top: -20px;
        margin-left: -20px;
    }
    .textedu{
        margin-left: -280px;
    }
    #boximagen{
        width: 300px;
        margin-top: -160px;
        margin-left: 390px; 
    }
}