<!--Educacion-->
<section class="Educ" id="#educacion">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg mt-3">
                <a href="#"><h2><b><i>Educación</i></b></h2></a>
                <div class="row">
                    <div class="col-7 mt-5">
                        <h4><p>Argentina Programa #Se Programar</p></h4>
                        <h5><p><i>Primera etapa Desarrollador Full Stack Jr</i></p></h5>
                        <h5><p>2022</p></h5>
                    </div>
                    <div class="col-5 mt-1">   
                        <img src="../../../assets/imagen/certif.png" alt="certif">
                    </div>
                    <div class="col-7 mt-5">
                        <h4><p>I.E.S.T.P Argentina (Lima-Perú)</p></h4>
                        <h5><p><i>Tecnico Contable</i></p></h5>
                        <h5><p>2002</p></h5>
                    </div>
                    <div class="col-5 mt-1">   
                        <img src="../../../assets/imagen/constancia.jpg" alt="constancia">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

