*{
	background: #c51a51;
}
#ArgPr{
	height: 50px;
	width: 140px;
	margin-left: 15px;
	background: #00000000;
	filter: invert(1);
	-webkit-filter: (1);
	-moz-filter: (1)
	
}
.redes img{
	height: 40px;
	width: 40px;
	background-image: none;
}