    <!--seccion de navbar-->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="../../../assets/imagen/ArgPr.png" id="ArgPr">
                </a>
                    <ul class="list-group list-group-horizontal">
                        <!--Redes Sociales-->
                        <li class="list-group-item redes">
                            <a href="https://api.whatsapp.com/send?phone=3415086762" target="_blank">
                                <img src="../../../assets/imagen/redes/bwhatsapp.png">
                            </a>
                        </li>
                        <li class="list-group-item redes">
                            <a href="https://github.com/janetca30" target="_blank">
                                <img src="../../../assets/imagen/redes/bgithub.png">
                            </a>
                        </li>
                        <li class="list-group-item redes">
                            <a href="https://www.linkedin.com/in/janet-calderon-559ab6240/" target="_blank">
                                <img src="../../../assets/imagen/redes/blinkedin.png">
                            </a>
                        </li>
                        <!--Button modal-->
                        <li class="list-group-item redes">
                            <a href="">
                                <img src="../../../assets/imagen/add-lock.png" id="bloqueo">
                                <img src="../../../assets/imagen/desbloqueo.png" id="desbloqueo">
                            </a>
                        </li>
                    </ul>                    
            </div>
        </nav>
    </section>


    