		<!-- Header -->
        <section id="header">
            <header>
                <img src="../../../assets/imagen/ArgPr.png" id="ArgPr">
                <span class="image avatar">
                    <img src="../../../assets/imagen/janet.png" alt="avatar" id="avatar"/>
                </span>
                <h1 id="logo"><a href="#">Janet Calderón Acuña de Denis</a></h1>
            </header>
            <nav id="nav">
                <ul>
                    <li><a href="#one" class="active">Acerca de mi</a></li>
                    <li><a href="#two">Experiencia</a></li>
                    <li><a href="#three">Educacion</a></li>
                    <li><a href="#four">Habilidades</a></li>
                    <li><a href="#five">Proyectos</a></li>
                    <li><a href="#six">Contacto</a></li>
                </ul>
            </nav>
            <footer>
                <ul class="list-group list-group-horizontal footnav mx-5">
                    <!--Redes Sociales-->
                    <li class="list-group-item redes">
                        <a href="https://api.whatsapp.com/send?phone=3415086762" target="_blank">
                            <img src="../../../assets/imagen/redes/bwhatsapp.png">
                        </a>
                    </li>
                    <li class="list-group-item redes">
                        <a href="https://github.com/janetca30" target="_blank">
                            <img src="../../../assets/imagen/redes/bgithub.png">
                        </a>
                    </li>
                    <li class="list-group-item redes">
                        <a href="https://www.linkedin.com/in/janet-calderon-559ab6240/" target="_blank">
                            <img src="../../../assets/imagen/redes/blinkedin.png">
                        </a>
                    </li>
                </ul> 
            </footer>
        </section>