<!--Experiencia-->
<section class="Exper">
     <div class="container text-center">
         <div class="row" >
             <div class="col-lg-9">
                 <h2 class="fexp"><b><i>EXPERIENCIA</i></b></h2>
                 <h3><p class="fexp">Independiente</p></h3>
                 <h4><p class="fexp"><i>Diseño</i></p></h4>
                 <h4><p class="fexp">Inicio 2022</p></h4>
                 <h4><p class="fexp">Termino 2022</p></h4>
             </div>
             <div class="col-lg-3">
                 <img src="/imagen/web.jpg" alt="web" >
             </div>
         </div>
     </div>
 </section>
