<!--Experiencia-->
<section class="Exper" id="experiencia">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-9 mt-5">
                <h2><b><i>EXPERIENCIA</i></b></h2>
                <div class="row">
                    <div class="col-7 mt-5">
                        <h4><p>Independiente</p></h4>
                        <h5><p><i>Cerrajeria Rosario</i></p></h5>
                        <h5><p><i>Diseño</i></p></h5>
                        <h5><p>Inicio: 2022</p></h5>
                        <h5><p>Termino: 2022</p></h5>
                    </div>
                    <div class="col-5 mt-5">
                        <img src="../../../assets/imagen/cerrajeria.jpg" alt="cerrajeria">
                    </div>
                    <div class="col-7 mt-5">
                        <h4><p>Independiente</p></h4>
                        <h5><p><i>Proyecto </i></p></h5>
                        <h5><p><i>Diseño</i></p></h5>
                        <h5><p>Inicio: 2022</p></h5>
                        <h5><p>Termino: 2022</p></h5>
                    </div>
                    <div class="col-5 mt-5">
                        <img src="../../../assets/imagen/tarjeta.png" alt="tarjeta">
                    </div>
                </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>

