section{
    background-color: #d3668bfa;
    padding-bottom: 35px;
    margin-top: -15;
}
.titulo{
    padding-top: 0cm;
}
.expe{
    margin-right: 155px;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    
    margin-left: 500px;
}
h4, h5{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 8px;
    margin-left: 8px;
}
#cerrajeria , #tarjeta{
    width: 120px;
    height: 80px;
    margin: 50px;
}
.box{
    background:#e691a6;
    color:black; padding: 5px;
    height: 220px;
    width: 380px;
    margin-top: 35px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    box-shadow: 10px 10px 0 #0a0a0a;
}

.boton{
    margin-top: 20px;
    margin-left: 520px;
    width: 125px;
    height: 58px;
    font-size: small;
}

.update{
    padding-bottom: 10px;

}
.delete{
    margin-left: 55px;
    margin-top: -50px;
}