.loguearse{
    height: 54vh;
    
}
.form-label, .ingreso{
    color: black;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: #e71063
}
#login{
    margin: 75px;
} 
.ingreso, .form-text{
    color:#e71063
}

@media screen and (min-width : 320px ) and (max-width : 343.99px){
    
    section{
        width: 320px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container.text-center{
        width: 320px;
        height: 250px;
        margin-left: -70px;
    }
    .modal-body{
        margin-top: -50px;
        display: flex;
        justify-content: center;
    }
    form{
        width: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

    }
}