<!--Acerca de mi-->
<section class="AdeMi" id="acerca">
    <button type="submit" class="btn btn-dark boton" routerLink="/editacercade/1" *ngIf="isLogged">Editar persona
    </button>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-2 mt-3">
                    <img src={{persona.img}} alt="avatar" id="avatar"/>
                </div>
                <div class="col-lg-3 ">
                    <h1 id="nombre"><strong>{{persona.nombre}} {{persona.apellido}}</strong></h1>
                    <h4>{{persona.puesto}}</h4>
                </div>
                <div class="col-lg-7 mt-3">
                    <a href="#"><h2><b><i>Acerca de mi</i></b></h2></a>
                    <h5><p>{{persona.descripcion}}</p></h5>
                </div> 
            </div>
        </div>
</section> 