 <!--Acerca de mi-->
 <section class="AdeMi">
     <div class="container text-center">
         <div class="row">
             <div class="col-lg-3">
                 <img class="janetPerfil" src="/imagen/janet.png" alt="janet">
             </div>
             <div class="col-lg-9">
                 <h2 class="gflour"><b><i>ACERCA DE MI </i></b></h2>
                 <h5><p class="gflour">Estudie Contabilidad, trabaje como Administrativa por muchos años hasta llegue a ser Directora de una Empresa; mi pasión por la tecnología me lleva ahora hacia un nuevo desafío. Soy una persona responsable, multifacética, creativa, emprendedora con muchas ganas de seguir desarrollandome personal y profesionalmente.
                 Actualmente soy autodidacta estudiando y tomando experiencia en proyectos que se me presente asi hacerme frente a nuevos desafios</p></h5>
             </div>
         </div>
     </div>
 </section>