<!--Acerca de mi-->
<section class="AdeMi" id="acerca">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-2 mt-3">
                <img src="../../../assets/imagen/janet.png" alt="avatar" id="avatar"/>
            </div>
            <div class="col-lg-3 mt-5">
                <h1 id="logo"><strong>Janet Calderón Acuña de Denis</strong></h1>
            </div>
            <div class="col-lg-7 mt-3">
                <a href="#"><h2><b><i>Acerca de mi</i></b></h2></a>
                <h5><p>Estudie Contabilidad, trabaje como Administrativa por muchos años hasta llegue a ser Directora de una Empresa; mi pasión por la tecnología me lleva ahora hacia un nuevo desafío. Soy una persona responsable, multifacética, creativa, emprendedora con muchas ganas de seguir desarrollandome personal y profesionalmente.
                Actualmente soy autodidacta estudiando y tomando experiencia en proyectos que se me presente asi hacerme frente a nuevos desafios</p></h5>
            </div> 
        </div>
    </div>
</section>
            
