<div class="container">
    <div class="row">
        <h2>Nuevo Proyecto</h2>
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP" id="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP" id="descripcionP">Descripcion del Proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="linkP" id="linkP">Link del Proyecto</label>
                    <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="linkP" required>
                </div>
                <div class="form-group">
                    <label for="imgP" id="imgP">Imagen del Proyecto</label>
                    <input type="file" class="form-control" id="imgP" name="imgP" [(ngModel)]="imgP" required>
                </div>
                <div class="form-group">
                    <label for="fechaP" id="fechaP">Fecha del Proyecto</label>
                    <input type="date" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="fechaP" required>
                </div>
                <button class="btn btn-dark ">
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>
 
