<!--banner-->
<div class="imgbanner">
    <img src="../../../assets/imagen/cerezoblanco.jpg" id="cerezoblanco">
    <div class="col lista">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item .flex-fill"><a href="#acerca" class="active">Acerca de mi</a></li>
            <li class="list-group-item .flex-fill"><a href="#experiencia">Experiencia</a></li>                    
            <li class="list-group-item .flex-fill"><a href="#educacion">Educación</a></li>                    
            <li class="list-group-item .flex-fill"><a href="#skills">Habilidades</a></li>
            <li class="list-group-item .flex-fill"><a href="#proyectos">Proyectos</a></li>
            <li class="list-group-item .flex-fill"><a href="#footer">Contacto</a></li>
        </ul>
    </div>
    <!--Presentacion-->
    <div class="col text p-5">
        <h3>Hola, soy</h3>
        <h1><strong><i>Janet Calderon Acuña de Denis</i></strong></h1>
        <h4>Desarrollador Full Stack Jr</h4>
    </div>
</div>



