<!--banner-->
<div class="container-fluid">
    <button class="btn btn-dark " routerLink="/editbanner/1" *ngIf="isLogged">
        <i class="bi bi-pen-fill"></i>
    </button>
    <div class="row">
        <div class="imgbanner">
            <img [src]="persona.banner" id="cerezoblanco" *ngIf="isLogged">
            <img [src]="datos.dato[0].banner" id="cerezoblanco" *ngIf="!isLogged">
        </div>    
        <nav class="menu">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item .flex-fill"><a href="#acerca" class="active">Acerca de mi</a></li>
                <li class="list-group-item .flex-fill"><a href="#experiencia">Experiencia</a></li>                    
                <li class="list-group-item .flex-fill"><a href="#educacion">Educación</a></li>                    
                <li class="list-group-item .flex-fill"><a href="#skills">Habilidades</a></li>
                <li class="list-group-item .flex-fill"><a href="#proyectos">Proyectos</a></li>
            </ul>
        </nav> 
        <!--Presentacion-->
        <div class="presentacion">
            <h2> My Portfolio Web </h2>
        </div>
    </div>
</div>




