<!--banner-->
<div class="imgbanner">
    <img src="../../../assets/imagen/cerezoblanco.jpg" id="cerezoblanco">
    <div class="col lista">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item .flex-fill"><a href="#acerca" class="active">Acerca de mi</a></li>
            <li class="list-group-item .flex-fill"><a href="#experiencia">Experiencia</a></li>                    
            <li class="list-group-item .flex-fill"><a href="#educacion">Educación</a></li>                    
            <li class="list-group-item .flex-fill"><a href="#skills">Habilidades</a></li>
            <li class="list-group-item .flex-fill"><a href="#proyectos">Proyectos</a></li>
        </ul>
    </div>
    <!--Presentacion-->
    <div class="col text p-5">
        <h3></h3>
        <h1><strong><i>My Portfolio Web</i></strong></h1>
        <h3></h3>
    </div>
</div>



