section{
    background-color: #d3668bfa;
    padding-bottom: 30px;
}

h2{
    color: black;
    text-decoration: none;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h5{
    color: black;
    margin-top: 10px;
}

.boton{
    margin-left: 100px;
	width: 85%;
    height: 40px;
    font-size: medium;
    text-align: center;
    background-color:#212529;
}
.skills{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
.circle{
    margin-bottom: 50px;
}
.update{
    margin-left: 230px;
    margin-top: -130px;
}
.delete{
    margin-left: 230px;
    margin-top: 20px;
}
@media screen and (max-width : 1150px) {
    .skills{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        width: 90%;
    }

    .titulo{
        margin-left: -25px;
        padding-left: -150px;
        text-align: center;

    }
}

@media (max-width: 500px){
	.boton{
		width: 70%;
        margin-left: 30px;

	}
}
