<!--Hard y Soft Skill-->
<section class="Habilidades" id="hab">        
    <div class="container text-center">
        <a href="#"><h2><b><i>Hard y Soft Skill</i></b></h2></a>
            <div class="row">
                <div class="col-lg-4 mt-2">
                    <h4><b>FRONT END</b></h4>
                    <h5><img src="../../../assets/imagen/html5.png" alt="">HTML</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>70 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/css.png" alt="">CSS - <img src="../../../assets/imagen/bootstrap.png" alt="">Bootstrap</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>70 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/angular.png" alt="">Angular - <img src="../../../assets/imagen/typescript.png" alt="">TypeScript</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>40 %</span>
                        </div>    
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <h4><b>BACK END</b></h4>
                    <h5><img src="../../../assets/imagen/mysql.png" alt="">MySql</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>30 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/netbeans.png" alt="">NetBeans</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>25 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/spring.png" alt="">Spring Boot</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>30 %</span>
                        </div>    
                    </div>
                </div>
                <div class="col-lg-4 mt-2">
                    <h4><b>SOFT SKILLS</b></h4>
                    <h5><img src="../../../assets/imagen/scolaborativo.png" alt="">Trabajo en Equipo</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>100 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/sautodidac.png" alt="">Autodidacta</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>100 %</span>
                        </div>    
                    </div>
                    <h5><img src="../../../assets/imagen/scomunic.png" alt="">Comunicativo</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <span>100 %</span>
                        </div>    
                    </div>
                </div>
            </div>
    </div>
</section>
    
