<!--Hard y Soft Skill-->
<section class="Habilidades" id="skills">
    <div class="container">
        <div class="row ">
            <div class="col mt-3">
                <h2 class="titulo"><b><i>Hard y Soft Skill</i></b></h2>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-dark boton" routerLink="/nuevaskills" *ngIf="isLogged">Nuevo Skill
    </button>
    <div class="container">
        <div class="row">
            <div class="skills">
                <div class="text-center col-sm-4 col-m-4 col-lg-4 circle" *ngFor="let Skills of skills">
                    <h5>{{Skills.nombre}} {{Skills.porcentaje}}%</h5>
                    <h6></h6>
                    <circle-progress [percent]="(Skills.porcentaje)" [radius]="50" [imageSrc]="(Skills.imgS)"
                        [imageHeight]="30" [imageWidth]="30" [showImage]="true" [showUnits]="false"
                        [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#c51a51'"
                        [innerStrokeColor]="'#000000'" [animation]="true" [animationDuration]="500">
                    </circle-progress>
                    <div *ngIf="isLogged" class="update">
                        <button class="btn btn-dark " routerLink="/editskills/{{Skills.id}}">
                            <i class="bi bi-pen-fill"></i>
                        </button>
                    </div>
                    <div *ngIf="isLogged" class="delete">
                        <button class="btn btn-dark" (click)="delete(Skills.id)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>