!--Hard y Soft Skill-->
    <section class="Hab">        
        <div class="container text-center">
            <h2 class="fucsia"><b><i>HARD Y SOFT SKILL</i></b></h2>
            <div class="row">
                <div class="col-lg-2">
                    <h5 class="hab1">HTML</h5>
                </div>
                <div class="col-lg-8 py-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <font style="vertical-align: inherit;"></font>
                            <font style="vertical-align: inherit;">50%</font>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h5 class="hab1">CSS</h5>
                </div>
                <div class="col-lg-8 py-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <font style="vertical-align: inherit;"></font>
                            <font style="vertical-align: inherit;">40%</font>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h5 class="hab1">JavaScript</h5>
                </div>
                <div class="col-lg-8 py-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <font style="vertical-align: inherit;"></font>
                            <font style="vertical-align: inherit;">25%</font>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </section>
