/* You can add global styles to this file, and also import other style files */

*{
     background-color: #e98fb900;
}

     /*background-image: url(/assets/fondo1.svg);
}
.fondo{
     padding-top:5500px;
     display: block;
     width: 80%;
     
}

#flor32 , #flor15 ,#flor30 {
     transform: translate( 10%, 156%);
     animation: reverse flor 1s 1s both;
     animation-duration: 4s;
     animation-iteration-count: infinite;
}
#flor21 , #flor19 {
     transform: translate( 10%, 156%);
     animation:  reverse flor;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-delay: -3s;
}
#flor6 , #flor5 , #flor22 {
     transform: translate( 10%, 156%);
     animation:  reverse flor;
     animation-duration: 4s;
     animation-iteration-count: infinite;
}
#flor10 , #flor16 ,#flor11, #flor25{
     transform: translate( 25%,100%);
     animation:  reverse flor;
     animation-duration: 4s;
     animation-iteration-count: infinite;
}
@keyframes flor{
     100%{
          transform:translate(15px);
     }
}


#_x31_1, #_x31_0, #_x31_3, #_x39{
     transform: translate(25%, 50%);
     animation: reverse petalos;
     animation-duration: 3s;
     animation-iteration-count: infinite;
}
#_x31_2, #_x38_, #_x37_, #_x36_{
     transform: translate(25%, 50%);
     animation: reverse petalos;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-delay: -2s;
}

@keyframes petalos{
     100%{
          transform: translateX(36px);
     }
}

#_x35_, #_x34_, #_x37_, #_x36_{
     transform: translate(25%, 50%);
     animation: reverse petalos;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-delay: -2s;
}*/


