section{
    padding-bottom: 25px;
}
.registrar, .form-text{
    color: #e71063;
}
.registro{
    color:black;
    font-size: 20px;
}
#registro{
    margin-top: 75px;
}
a{
    color:#e71063;
    text-decoration: none;
}